header {
    background: rebeccapurple;
    color: white;
    padding: 10px 20px;
}

.header{
    display: flex;
    gap: 10px;
}

.header ul {
    list-style-type: none;
    padding: 0;
}

.header ul li {
    display: inline;
    margin: 0 15px;
}

.header ul li a {
    color: #e0e0e0;
    font-weight: bold;
    transition: color 0.3s;
}





